.button {
    float: right;
    font-size: 15.5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #a464b180;
    color: rgb(255, 255, 255);
}

ul,
ol {
    list-style: none;
}

.menu li a {
    float: right;
    font-size: 15.5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.menu li a:hover {
    background-color: #71046880;
    color: rgb(255, 255, 255);
}

.menu>li {
    float: right;
}

.menu li ul {
    display: none;
    position: fixed;
    top: 71px;
    right: 219px;
    min-width: 140px;
}

.menu li:hover>ul {
    display: block;
}